.ah-btn{
  border: none;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
  background: var(--green);
  border: 1px solid var(--gray);
  font-family: var(--poppins);
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  transition: 0.3s linear;
}

.ah-btn:hover{
  border-radius: 60px;
}